.adios{
    display: none;
}

.div-central-gracias{
width: 18rem;
height: 20rem;
margin-top: 12rem;
padding: 1.5rem;
background-color: var(--color-darkBlue);
/* border: 1px solid white; */
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.tituto-gracias{
    font-size: 2rem;
}

.calificacion-titulo{
    color: var(--color-Orange);
    background-color: rgb(45, 54, 65);
    padding: 0.9rem 1.4rem;
    border-radius: 2rem;
    
    
}

.parrafo-gracias{
    text-align: center;
    font-weight: lighter;
    color: var(--color-Grey);
}

